html {
    font-size: 62.5%;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.8rem;
}

/* Con mediadas relativas como REM
estamos dando accesibilidad al usuario
con problemas visuales de acceder 
a font sizes mayores al momento de configurar 
el tamaño de fuentes por defecto 
de su navegador */