/* HERMANO CERCANO O ADYACENTE */
/* dale color color rojo a cualquier p
cercano a h2 o despues de un h2 */

/* h2 + p {
    color: red;
} */

/* HERMANO GENERAL (signo alt 126 o altgr + */
/* dale color color rojo a cualquier p
que tengan a h2 como hermanos generales
independientemente de haber otros h */

/* h2 ~ p {
    color: red;
} */

/* HIJO (CHILD)
A toda etiqueta p que sea hija directa de
una etiqueta div, dale color verde  */

div > p {
    color: green;
}

/* DESCENDIENTE */
/* A todas las etiquetas p que esten contenidos o dentro
de una etiqueta div (GLOBALMENTE o el mas grande)
, ponlas de verde */

div p {
    color: green;
}