* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
} 

/* Con esto hacemos que el html(root)
tenga 10 px */
/* Por tanto 1rem = 10 px */

/* Ya que el rem a diferencia del em
toma de referencia unicamente el atributo 
del html */
p {
    font-size: 1.6rem;
}

main div {
    font-size: 1.6rem;
}